/*
* @Author: Administrator
* @Date:   2018-06-11 20:11:34
* @Last Modified by:   admin
* @Last Modified time: 2018-06-19 09:08:06
*/
*{
	margin:0px;
	padding: 0px;
	list-style: none;
	text-decoration:none;
}
body{
	width: 100%;
	height: 100%;
}
.main{
	width:100%;
	height:555px;
	margin-top:50px;
	border-bottom: solid 1px #d5dce5; 
}
.main .main_content{
	width:900px;
	height:555px;
	margin:0 auto;
	
}
.main .main_content .main_c_l{
	width:506px;
	height:503px;
	float: left;
	background-image: url('../images/login-banner.png');
	background-size: 506px,503px;
	border: solid 1px #d5dce5;
}
.main .main_content .main_c_r{
	width:357px;
	height:503px;
	float:right;
	background: #fefefe;
	border: solid 1px #d5dce5;
}
.main_c_r .main_c_r_h{
	width:311px;
	height:26px;
	display: block;
	padding:23px;
	
}
.main_c_r .main_c_r_h em{
	font-style: normal;
	color: #4d5e73;
	font-size: 18px;
	font-weight: 500;
	display:block;
	float:left;
}
.main_c_r .main_c_r_h a{
	color:#428bca;
	text-decoration: none;
	font-size:12px;
	display:block;
	float:right;
	margin-top: 4px;
}
.main_c_r .main_c_r_c{
	width:357px;
	height:259px;
}
.main_c_r .main_c_r_c .main_QRcode{
	width:269px;
	height:252px;
	border-bottom: solid 1px #d5dce5;
	padding:5px 0 0 88px;
}
.main_c_r .main_c_r_c .main_QRcode img{
	border: solid 1px #d5dce5;
	display:inline-block;
}
.main_c_r .main_c_r_c .main_QRcode p{
	color:#093f6d;
	font-size:14px;
	display: inline-block;
	height:auto;
	width:auto;	
	margin:8px 0 0 60px;
}
.main_c_r .main_r_third{
	width:357px;
	height:171px;
	
}
.main_c_r .main_r_third .main_r_third_padd{
	width:326px;
	height:154px;
	padding:18px 0 0 30px;
}
.main_r_third .main_r_third_padd span{
	display:block;
	width:auto;
	height:auto;
	font-size:14px;
	color:#666666;
}
.main_r_third .main_r_third_padd ul{
	height: 32px;
	width:auto;
	margin-top:15px;

}
.main_r_third .main_r_third_padd ul li{
	height: 32px;
	width:32px;
	margin-right:10px;
	overflow: hidden;
	float:left;
		position:relative;
}
.main_r_third .main_r_third_padd ul li img{
	position: absolute;
}
.main_r_third .main_r_third_padd .p1 img{
	left:0px;
}
.main_r_third .main_r_third_padd .p2 img{
	left:-36px;
}
.main_r_third .main_r_third_padd .p3 img{
	left:-74px;
}
.main_r_third .main_r_third_padd .p4 img{
	left:-112px;
}
.main_r_third .main_r_third_padd .p5 img{
	left:-150px;
}
.main_r_third .main_r_third_padd .third_p1{
	width:auto;
	height:14px;
	font-size:14px;
	color:#666;
	margin-top:15px;
}
.main_r_third .main_r_third_padd .third_p1 span{
	float:left;
}
.main_r_third .main_r_third_padd .third_p1 a{
	font-size:12px;
	color:#428bca;
	text-decoration:none;
	float:left;
	line-height: 19px;
}
.footer{
	height:123px;
	width:100%;
	
}
.footer .footer_content{
	width:1170px;
	height:120px;
	margin:0 auto;
	

}
.footer .footer_content .footer_c_first{
	width:1170px;
	height:31px;
	margin-top:17px;
	border-bottom: solid 1px #d5dce5; 
}
.footer .footer_content .footer_c_first a{
	color:#666;
	display:inline-block;
	float:left;
	font-size:14px;
}
.footer .footer_content .footer_c_first span{
	display:block;
	height:13px;
	width:0px;
	border:solid 1px #ded5d1;
	float:left;
	margin:4px 5px 0 5px;
}
.footer .footer_content .footer_c_second{
	width:1170px;
	height:15px;
	padding:10px;
	padding-left: 0;

}
.footer .footer_content .footer_c_second a{
	width:auto;
	height:17px;
	display:block;
	float:left;
	font-size:12px;
	color:#666;
}
.footer .footer_content .footer_c_second .pic{
	display:block;
	width:17px;
	height:17px;
	overflow:hidden;
	float:left;
	margin:2px 7px 0 4px;
}
.footer .footer_content .footer_c_second .line{
	display:block;
	height:12px;
	width:0px;
	border:solid 0.8px #666;
	float:left;
	margin:1px 5px 0 5px;
}

.footer .footer_content .footer_c_third{
	width:1170px;
	height:auto;
	margin-top:5px;
}
.footer .footer_content .footer_c_third  p{
	display:block;
	float:left;
	color:#9c9c9c;
	font-size:12px;
	line-height:25px;

}
.footer .footer_content .footer_c_third .pic1{
	display:block;
	height:10px;
	width:0px;
	border:solid 1px #9c9c9c;
	float:left;
	margin:6px 5px 0 5px;
	
}

.footer .footer_content .footer_c_third .pic2{
	display:block;
	width:20px;
	height:30px;
	overflow:hidden;
	float:left;
	margin:2px 7px 0 4px;
	
}

.clear{
	clear:both;
}